body {
    background-color: #EFEFEF;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0 50px;
}

main {
    display: flex;
    justify-content: space-between;
}

.search {
    padding-bottom: 30px;
}

.search__label {
    font-size: 18px;
    font-weight: bold;
}

.search__input {
    border: 1px solid #333;
    padding: 5px;
}

.search__button{
    background-color: white;
    display: inline-block;
    border: 1px solid #333;
    height: 30px;
    padding: 5px;
}

.table {
    background: repeating-linear-gradient(
        -45deg,
        #fde,
        #fde 10px,
        #fef 10px,
        #fef 20px
    );
    background-color: white;
    border: 1px solid #333;
    width: 48%;
}

.table__row, .table__header, .table__label, .table__filterbar, .table__beckoner {
    align-items: center;
    border-bottom: 1px solid #333;
    display: flex;
    padding: 5px;
}

.table__header, .table__label, .table__filterbar, .table__beckoner {
    background-color: #333;
    color: white;
    font-weight: bold;
}

.table__row:hover {
    cursor: pointer;
}

.table__row:hover, .row__selected {
    background: repeating-linear-gradient(
        -45deg,
        #cab,
        #cab 10px,
        #dcd 10px,
        #dcd 20px
    );
}

.table__row:last-child {
    border-bottom: 0
}

.table__cell {
    margin-right: 10px;
}

.table__cell--short {
    flex-shrink: 0;
    width: 50px;
}

.table__cell:last-child {
    margin-right: 0px;
}

.row__invisible {
    display: none;
}

.table__beckoner {
    display: none;
}

.table__beckoning > .table__beckoner {
    display: block;
}

.table__beckoning > .table__filterbar {
    display: none;
}
